  .center {
  margin-left: auto;
  margin-right: auto;
}
            .imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
            .imgright {
  display: block;   
  margin-left: 5px;
  margin-right: 5px;
  width: 250px;
  float: right;
}
           .imgleft {
  display: block;   
  margin-left: 5px;
  margin-right: 5px;
  width: 250px;
  float: left;
}
          .paracenter {
  text-align:center;
  margin-left:5px;
  margin-right:5px;
} 
              
 body {
   background-color: #585858;
} 
            .paragraph {
  margin: 35px;
}
h1 {
  color: #FAF9F6;
  margin:10px;
  text-shadow: 2px 2px #ff0000;
  font-family: "Copperplate", Times, serif;
}
p {
  color: #FAF9F6;
  font-family: Times, serif;
}
marquee {
  animation: flash 3s linear infinite;
}
@keyframes flash {
  0% {
  color: #FAF9F6;
  }
  50% {
  color: #800000;
  }
  100% {
  color: #FAF9F6;
  }
}
