  .center {
  margin-left: auto;
  margin-right: auto;
}
            .imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
            .imgright {
  display: block;   
  margin-left: 5px;
  margin-right: 5px;
  width: 250px;
  float: right;
}
           .imgleft {
  display: block;   
  margin-left: 5px;
  margin-right: 5px;
  width: 250px;
  float: left;
}
          .paracenter {
  text-align:center;
  margin-left:5px;
  margin-right:5px;
} 
              
 body {
   background-color: #80000;
} 
            .paragraph {
  margin: 35px;
}
h1 {
  color: #800000;
  margin:10px;
  text-shadow: 2px 2px #ff0000
  font-family: "Copperplate", Times, serif;
}
